# Pandas

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [3]:
labels=['w','x','y','z']
list=[10,20,30,40]
array=np.array([10,20,30,40])
dict={'w':10,'x':20,'y':30,'z':40}

In [4]:
pd.Series(data=list)

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
pd.Series(data=list,index=labels)

w    10
x    20
y    30
z    40
dtype: int64

In [6]:
pd.Series(array,labels)

w    10
x    20
y    30
z    40
dtype: int32

In [7]:
pd.Series(dict)

w    10
x    20
y    30
z    40
dtype: int64

### Pandas dataframe and indexing

In [8]:
sports1=pd.Series([1,2,3,4],index=['cricket','football','basketball','golf'])
sports1

cricket       1
football      2
basketball    3
golf          4
dtype: int64

In [9]:
sports1['cricket']

1

In [10]:
sports2=pd.Series([11,2,3,4],index=['cricket','football','baseball','golf'])
sports2

cricket     11
football     2
baseball     3
golf         4
dtype: int64

In [11]:
sports1+sports2

baseball       NaN
basketball     NaN
cricket       12.0
football       4.0
golf           8.0
dtype: float64

In [12]:
df1=pd.DataFrame(np.random.rand(8,5),index='A B C D E F G H '.split(),columns='Score1 Score2 Score3 Score4 Score5'.split())
df1

     Score1    Score2    Score3    Score4    Score5
A  0.757107  0.833406  0.096393  0.623519  0.354502
B  0.069560  0.044036  0.462350  0.702419  0.178482
C  0.966928  0.988587  0.598481  0.819884  0.120026
D  0.710337  0.198130  0.725122  0.874120  0.363848
E  0.249673  0.614488  0.793774  0.879961  0.131681
F  0.517365  0.421982  0.996286  0.885579  0.552701
G  0.862776  0.771896  0.974324  0.177946  0.942518
H  0.937549  0.741587  0.012267  0.500688  0.377307

In [13]:
df1['Score3']

A    0.096393
B    0.462350
C    0.598481
D    0.725122
E    0.793774
F    0.996286
G    0.974324
H    0.012267
Name: Score3, dtype: float64

In [14]:
df1[['Score2','Score1']]

     Score2    Score1
A  0.833406  0.757107
B  0.044036  0.069560
C  0.988587  0.966928
D  0.198130  0.710337
E  0.614488  0.249673
F  0.421982  0.517365
G  0.771896  0.862776
H  0.741587  0.937549

In [15]:
df1['Score6']=df1['Score1']+df1['Score2']
df1

     Score1    Score2    Score3    Score4    Score5    Score6
A  0.757107  0.833406  0.096393  0.623519  0.354502  1.590512
B  0.069560  0.044036  0.462350  0.702419  0.178482  0.113596
C  0.966928  0.988587  0.598481  0.819884  0.120026  1.955516
D  0.710337  0.198130  0.725122  0.874120  0.363848  0.908468
E  0.249673  0.614488  0.793774  0.879961  0.131681  0.864161
F  0.517365  0.421982  0.996286  0.885579  0.552701  0.939348
G  0.862776  0.771896  0.974324  0.177946  0.942518  1.634672
H  0.937549  0.741587  0.012267  0.500688  0.377307  1.679136

In [16]:
df1.drop('Score5',axis=1)

     Score1    Score2    Score3    Score4    Score6
A  0.757107  0.833406  0.096393  0.623519  1.590512
B  0.069560  0.044036  0.462350  0.702419  0.113596
C  0.966928  0.988587  0.598481  0.819884  1.955516
D  0.710337  0.198130  0.725122  0.874120  0.908468
E  0.249673  0.614488  0.793774  0.879961  0.864161
F  0.517365  0.421982  0.996286  0.885579  0.939348
G  0.862776  0.771896  0.974324  0.177946  1.634672
H  0.937549  0.741587  0.012267  0.500688  1.679136

In [17]:
df1.reset_index()

  index    Score1    Score2    Score3    Score4    Score5    Score6
0     A  0.757107  0.833406  0.096393  0.623519  0.354502  1.590512
1     B  0.069560  0.044036  0.462350  0.702419  0.178482  0.113596
2     C  0.966928  0.988587  0.598481  0.819884  0.120026  1.955516
3     D  0.710337  0.198130  0.725122  0.874120  0.363848  0.908468
4     E  0.249673  0.614488  0.793774  0.879961  0.131681  0.864161
5     F  0.517365  0.421982  0.996286  0.885579  0.552701  0.939348
6     G  0.862776  0.771896  0.974324  0.177946  0.942518  1.634672
7     H  0.937549  0.741587  0.012267  0.500688  0.377307  1.679136

In [18]:
df2={'ID':['101','102','103','107','176'],'Name':['John','Mercy','Akash','Kavin','Lally'],'Profit':[20,54,56,87,123]}
df=pd.DataFrame(df2)
df

    ID   Name  Profit
0  101   John      20
1  102  Mercy      54
2  103  Akash      56
3  107  Kavin      87
4  176  Lally     123

In [19]:
score_array = np.array([ 121, 212, 153, 214, 115, 116, 237, 118, 219, 120]) 
score_series = pd. Series(score_array) 
score_series.rank(ascending='false')

0     5.0
1     7.0
2     6.0
3     8.0
4     1.0
5     2.0
6    10.0
7     3.0
8     9.0
9     4.0
dtype: float64